*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

}
html{
     scroll-behavior: smooth;
     --backGroundColorInitial : #23272B;
     --buttonsBackground : #007EE5;
     --rowTodo : #28343D;
     --hoverTitles : #9E158C;
     --colorTitles : #bbb; 
     --modalBackground : #111314;
     --focusButtonColor:#115A95;
     --placeHolderColor:#6F7F89;
     --colorTitleTodo : #80929D;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: var(--backGroundColorInitial);
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    align-items: center;
}
.inputSearch{
    width: 80%;
    padding: 0.5rem;
    background-color: var(--backGroundColorInitial);
    border: 1px solid var(--hoverTitles);
    outline: none;
    font-size: 1.8rem;
    border-radius: 3px;
    color: var(--placeHolderColor);
    transition: 500ms;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.inputSearch:focus{
    transition: 500ms;
    border: 1px solid var(--focusButtonColor);
    -webkit-box-shadow: 2px 4px 36px -6px rgba(17,90,149,0.81);
    -moz-box-shadow: 2px 4px 36px -6px rgba(17,90,149,0.81);
    box-shadow: 2px 4px 36px -6px rgba(17,90,149,0.81);
}

.loupe{
    margin-left: 1rem;
    cursor: pointer;
}
.containerCollumns{
    margin-top: 2rem;
    display: flex;
    flex-direction: row ;
}
.row{
    width: 25%;
  height: 100%;

}   
.rowTitles{
    width: 100%;
    background-color: var(--rowTodo);
    padding: 0.8rem;
    color: var(--colorTitles);
    border: 0.1px solid var(--placeHolderColor) ;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 300ms;
  
}
.rowTitles:hover{
     color: var(--hoverTitles);
     transition: 300ms all ease;
}

.open,.progress,.toVerify,.concluded{
    width: 100%;
    min-height: 10rem;
    height: 100%;
    border: 0.1px solid var(--placeHolderColor) ;
    border-top: none;
    margin-top: 5rem;

}
.styleSpan{
     color: var(--placeHolderColor);
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     font-size: 1.3rem;
     margin-left: 0.5rem;
     cursor: pointer;
     transition: 300ms all ease;
     display: none;
}
.styleSpan:hover{
     color: var(--hoverTitles);
     transition: 300ms all ease;
}
.styleButton{
    background-color: var(--backGroundColorInitial);
    border: transparent;
    margin-left: 1rem;
    cursor: pointer;
}
.row:hover .styleSpan {
    display: inline-block;
    
  }
.modal{
    width: 45rem;
    height: 35rem;
    background-color: var(--modalBackground);
    position: absolute;
    top: 25%;
    left:35%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    transition: 300ms all ease;
    display: none;
}
.formModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputsStyle{
    background-color: var(--backGroundColorInitial);
    border: 0.1px solid var(--placeHolderColor) ;
    border: transparent;
    outline: none;
    margin-top: 2.5rem;
    width: 90%;
    align-self: center;
    font-size: 1.9rem;
    padding: 0.8rem;
    color: var(--placeHolderColor);
 
}

.areaStyle{
    height: 15rem;
}
.stylesContainerButton{
    align-self: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.buttonStyle{
    width: 80%;
    padding: 0.8rem;
    background-color: var(--backGroundColorInitial);
    border: 1px solid var(--hoverTitles);
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;
    color: var(--placeHolderColor);
    transition: 200ms;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.buttonStyle:hover{
    transition: 200ms;
    border: 1px solid var(--focusButtonColor);
    -webkit-box-shadow: 2px 4px 36px -6px rgba(17,90,149,0.81);
    -moz-box-shadow: 2px 4px 36px -6px rgba(17,90,149,0.81);
    box-shadow: 2px 4px 36px -6px rgba(17,90,149,0.81);
}
.showModal{
    display: block;
}
.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

@-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  .contentTodo{
    width: 35rem;
    min-height: 6rem;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    border: 1px solid var(--placeHolderColor);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    
  }

  summary{
    color: var(--colorTitleTodo);
    font-size: 1.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
    word-break: break-all;
  }

 
  p{
    color: var(--colorTitles);
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-break: break-all;
  
  }
  .verticalColor{
    width:1px;
    margin-left: 0;
    height: 100%;
    background-color: #007EE5;
  }
