*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    --whiteGray : #FEEDED;
    --blackGray : #FEECEC;
}

body{
    background-color: var(--whiteGray);
    display: flex;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
}

.left,.right{
    padding: 0 3rem 0 3rem;
    height: 100%;
}
.playingMusicContainer{
    width: 40rem;
    box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.17);
    border-radius:1.2rem ;
}
.playListContainer{
    width: 35rem;
    border: 1px solid red;
}
.titleMusicContainer h1{
    font-family:'Open Sans';
    font-weight: 600;
    font-size: 2.5rem;
    color:#ff7675;
}
.titleMusicContainer h1,.titleMusicContainer h3{
    text-align: center;
    padding-top: 1rem;
}
.titleMusicContainer h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}



