*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
:root{
    font-size: 62.5%;
}

html{
    scroll-behavior: smooth;
}
.container{
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 100%;
}
.leftElements{
   width: 50%;
  
}
.rightElements{
    width: 50%;
    
}
.boxProcess{
    background-color:#4863F7 ;
    width: 11%;
    height: 6.1rem;
    border: 1px solid wheat;
    flex-direction: column;
}
.headerBoxProcess{
    background-color: #121214;
    width: 100%;
    height: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.process{
    display: flex;
    flex-wrap: wrap;
}
